#section0,
#section1,
#section2,
#section3{
    background-size: 100% 100%;
}

/* Defining each sectino background and styles 
* --------------------------------------- */
#section0{
    background-image: url(../imgs/bcg_slide-1.png);
    padding: 30% 0 0 0;    
}
#section1{
    background-image: url(../imgs/bcg_slide-2.png);
    padding: 6% 0 0 0;
}
#section2{
    background-image: url(../imgs/bcg_slide-3.png);
    padding: 6% 0 0 0;
}
#section3 h1{
  color: #fff;
  text-shadow:0 0 1px purple
}
.content::before {
  content:'';
  float:left;
  padding-top:62%;
}
.content {
  overflow:hidden;
}
