#section0,
#section1,
#section2,
#section3{
    background-size: cover;
}

/* Defining each sectino background and styles 
* --------------------------------------- */
#section0{
    background-image: url(../imgs/bcg_slide-1.png);
    padding: 30% 0 0 0;
}
#section1{
    background-image: url(../imgs/bcg_slide-2.png);
    padding: 6% 0 0 0;
}
#section2{
    background-image: url(../imgs/bcg_slide-3.png);
    padding: 6% 0 0 0;
}
#section3 h1{
    color: #fff;
}

.hsContent {
    max-width: 700px;
    position: absolute;
    left: 50%;
    top: 50%;
}
.hsContent h2  {
    color: #fff8de;
    background-color: rgba(0,0,0,0.5);
    padding: 10px 5px;
    font-size: 35px;
    line-height: 38px;
    margin-bottom: 12px;
}
